# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
*.egg-info/
*.egg
MANIFEST


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
*.hypothesis/
.pytest_cache/

# logs
*.log

# Flask stuff:
instance/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock
poetry.toml

# pdm
.pdm-python
.pdm-build/

# Environments
.env
.venv
env/
venv/

# PyCharm
.idea/

# Ruff
.ruff_cache/
